<div class="container">
	<!-- orders card -->
	<div class="jumbotron card bg-dark text-white bg-primary mb-3">
		<div>
			<h1>View Orders</h1>
		</div>
		<div class="row">
			<div class="col-md-4">
				<input class="form-control" id="myInput" type="text"
					placeholder="Search by orderId ..." />
			</div>
		</div>
	</div>
	<div class="list-group-item" *ngFor="let order of orderLists">
		<table class="table table-striped">
			<tr>
				<th><label>Order Id:</label></th>
				<td><label> {{order.orderId}}</label></td>
			<tr>
				<th><label>Status:</label></th>
				<td><span class="label label-primary">{{order.status}}</span></td>
			</tr>
			<tr>
				<th><label>Token:</label></th>
				<td><span>{{order.tokenNo}}</span></td>
		</table>
		<div *ngFor="let item of order.items">
			
<pre>
Item: {{item.itemName}}
price :{{item.price}}
quantity:{{item.quantity}}
</pre>
                           <br> 
	
		</div>
	</div>