
<div class="col-md-6">
	<h3>
		Hello {{userName}} you have Logged in at
		<time> {{now}} </time>
	</h3>
	<button class="btn btn-success" (click)="addOrder()">Add Order</button>

	<div *ngIf="order?.length > 0">
		<button class="btn btn-success" (click)="createOrder()">Take
			Order</button>

		<button class="btn btn-success" (click)="removeOrder()">Remove
			Order</button>
	</div>
	<img src="https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?cs=srgb&dl=food-dinner-lunch-70497.jpg&fm=jpg" alt="Italian Trulli">
</div>
<br>
<div class="col-md-6">
	<div class="alert alert-success" *ngIf="message">
		<strong>Success!</strong> {{message}}
	</div>
	<form>
		<div *ngFor="let order of order">

			<div class="form-group">
				<label for="email">Item Name:</label> <input type="text"
					[(ngModel)]="order.item" placeholder="item" name="item" [ngModelOptions]="{standalone:true}"
					class="form-control" id="password">
			</div>


			<div class="form-group">
				<label for="firstName">Price:</label> <input type="number"
					[(ngModel)]="order.price" placeholder="Price" name="price" [ngModelOptions]="{standalone:true}"
					class="form-control" id="price">
			</div>

			<div class="form-group">
				<label for="lastName">Quantity:</label> <input type="number"
					[(ngModel)]="order.quantity" placeholder="quantity" [ngModelOptions]="{standalone:true}"
					name="quantity" class="form-control" id="qua">
			</div>
			<hr>
		</div>
	</form>
</div>